*{
    padding:0;
    margin:0;
    color:inherit;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    background-color: #e1e0dc;
}
img{
    vertical-align: top;
}

header .wrap{
    display:flex;
    padding:38px 60px 0;
    justify-content: space-between;
}

header .wrap .orange{
    width:22px;
    height:22px;
    margin-top:22px;
    border-radius: 50%;
    background-color:#e36200;
}

header .wrap .logo{
    font-size:25px;
}

header .wrap .menu{
    margin-top:22px;
}

.banner{
    padding-top:345px;
    position:relative;
    width:1400px;
    margin:0 auto ;
    padding-left:400px;
}


.banner .copyright{
    font-size:80px;

}

.banner .copyright .kor{
    font-size:20px;
    margin-top:40px;

}

.banner .copyright .kor a{
    display:inline-block;
    padding-top:15px;
    border-top:2px solid #000;
}

.banner .reserved{
    position:fixed;
    transform: rotate(-90deg);
    transform-origin: top right;
    font-size:12px;
    left:-180px;
    bottom:200px;
}

.con .wrap{
    width:1400px;
    padding-bottom:270px;
    margin:165px auto 0;
}
.con .wrap .apiacereimg{
    width:613px;
    height:800px;
    background-color: black;
    margin:0 auto;
}

.con .wrap .apiacerecopy{
    padding-top:80px;
}

.con .wrap .apiacerecopy .title{
    font-size:80px;
}

.con .wrap .apiacerecopy{
    font-size:20px;
}

.con .wrap .apiacerecopy p:nth-child(2){
    padding-left:320px;
}

.con .wrap .apiacerecopy p:last-child{
    padding-top:80px;
}

.intro{
    width:1600px;
    display:flex;
    margin: 0 auto;
}

.intro .me{
    writing-mode: vertical-rl;
    position:absolute;
    left:4%;
}

.intro p:nth-child(1) a{
    border-right:1px solid #000;
}
.intro p:nth-child(2) a{
    border-right:1px solid #000;
}
.intro p:last-child a{
    border-right:1px solid #000;
}   

.intro .wrap{
    display:flex;
    width:1366px;
    margin: 0 auto;
    padding-bottom:190px;
}

.intro .wrap .univ{
    display:flex;
    padding-top:870px;
    margin-right:120px;
    /* border-right:1px solid #000; */
}

.intro .univrow{
    margin-right:120px;
}
.intro .wrap2{
    padding-top:70px;
}
.intro .wrap2 .web{
    display:flex;
}
.intro .wrap2 .webrow{
    margin-right:200px;
}

.intro .wrap2 .webrow:last-child{
    margin-right:0;
}


.intro .ability{
    width:200px;
    margin-bottom:122px;
}
.intro .lice{
    width:200px;
}

.intro .univ p{
    text-align: right;
}

.intro .title{
    border-bottom:1px solid #000;
    padding-bottom:10px;
    margin-bottom:10px;
    font-size:25px;
}

.intro .wrap .univrow:nth-child(1){
    padding-top:130px;
}

.intro .wrap2 .webrow:nth-child(2){
    padding-top:160px;
}

.portfolio{
    width:1440px;
    margin:0 auto;
}

.portfolio .myself{
    display:flex;
    justify-content: end;
    position:relative;
    margin-bottom:295px;
}

.portfolio .myself .title{
    font-size:80px;
}

.portfolio .myself .sub{
    position:absolute;
    transform: rotate(90deg);
    transform-origin: top right;
    right:-25px;
    top:88px;
    font-size:20px;
}

.portfolio .wrap1{
    position:relative;
    height: 1030px;
}

.portfolio .wrap1 .main{
    display:flex;
    width:1400px;
    margin:0 auto ;
}

.portfolio .wrap1 .main .copy{
    font-size:50px;
    margin-right: 100px;
    border-right: 1px solid #d3d2ce;
    padding-right:100px;
}

.portfolio .wrap1 .main .copy p:last-child{
    font-size:16px;
    margin-top:35px;
    padding-top:15px;
    border-top:2px solid #000;
}


.portfolio .port {
    display:flex;
    width:600px;
    position:relative;
}

.portfolio .port .portimg p{
    margin-top:10px;
    font-size:14px;
}

.portfolio .port .ex{
    font-size:14px;
}

.portfolio .port .ex:last-child{
    font-size:12px;
    bottom:5%;
    position:absolute;
}

.port .portimg{
    margin-right:37px;
}

.port .portimg img{
    width:332px;
    height: auto;;
}

.portfolio .wrap1 .pho{
    display:flex;
    position: absolute;
    right:0;
    margin-bottom:347px;
}

.portfolio .wrap1 .pho > div:first-child img{
    padding-top:112px;
    width:428px;
    height: auto;
    margin-right:70px;
}

.portfolio .wrap1 .pho > div:nth-child(2) img{
    padding-top:46px;
    width:282px;
    height:auto;
}


.portfolio .wrap1 .view{
    padding-top:40px;
    font-size:30px;
    right:0;
    position: absolute;
}

.portinst1 {
    display:flex;
    justify-content: flex-end;
    width:1427px;
    margin-top: 350px;
}

.portinst1 .pho {
    display:flex;
    margin-right:-100px
}

.portinst1 .pho > div:first-child img{
    width:333px;
    height:auto;
    margin-right:20px;
    padding-top:320px;
}
.portinst1 .pho > div:nth-child(2) img{
    width:280px;
    height:auto;
    padding-top:480px;
}

.portinst1 .wrap{
    display:flex;
    width:780px;
}

.portinst1 .wrap .portex{
    margin-right:40px;
    text-align: right;
}

.portinst1 .wrap .portex .long{
    margin-top:200px;
    text-align: left;
}

.portinst1 .wrap .ex:last-child{
    font-size:12px;
}

.portinst1 .portimg img{
    width:516px;
    height:auto;
}

.last .face img{
    width:643px;
    height: auto;
    padding-left: 20px;;
}
.last .wrap{
    display:flex;
    position:relative;
    width:1560px;
    margin: 500px auto 0;
    padding-bottom:100px;
}

.last .face {
    margin-right:36px;
}

.last .me{
    writing-mode: vertical-rl;
}

.last p:nth-child(1) a{
    border-right:1px solid #000;
}
.last p:nth-child(2) a{
    border-right:1px solid #000;
}
.last p:last-child a{
    border-right:1px solid #000;
}   

.last .gak{
    font-size:12px;
    position:absolute;
    right:0;
    bottom:50px;
    padding-left:200px;
    color:#6e6e6e;
}

